/* Main Body */
@page {
	margin-top: 1cm;
	margin-bottom: 3cm;
	margin-left: 2cm;
	margin-right: 2cm;
}

body {
	background: #fff;
	color: #000;
	margin: 0cm;
	font-family: sans-serif;
	font-size: 9pt;
}

/* Standard elements */
h1, h2, h3, h4 {
	font-weight: bold;
	margin: 0;
}

h1 {
	font-size: 16pt;
	margin: 5mm 0;
}

h2 {
	font-size: 14pt;
}

h3, h4 {
	font-size: 9pt;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
ul {
	margin-bottom: 0.75em;
}

p {
	margin: 0;
	padding: 0;
}

p + p {
	margin-top: 1.25em;
}

a { 
	border-bottom: 1px solid; 
	text-decoration: none; 
}

table {
	border-spacing: 0;
	page-break-inside: always;
	border: 0;
	margin: 0;
	padding: 0;
}

th, td {
	vertical-align: top;
	text-align: left;
}

/* Head */
.head {
	width: 100%;
	overflow: auto;
	margin-bottom: 5mm;
}

.head .logo {
	float: left;
	padding-right: 1cm;
}

.head img {
	max-width: 100%;
	max-height: 3cm; /* may be overriden by the settings */
	/* img width & heights can only be set with inline styles (mpdf 8.0) https://github.com/mpdf/mpdf/issues/366 */
	/* using wpo_wcpdf_header_logo_img_element filter instead in wcpdf-mpdf.php */
}

.head .document-label {
	width: 60%;
	text-transform: uppercase;
	font-size: 16pt;
	font-weight: 700;
	display: inline;
}

.head .shop-info {
	width: 40%;
	float: right;
}

.head .shop-info .shop-address {
	margin-bottom: 5mm;
}

/* Document title & Order data */
.document-label-order-data {
	width: 100%;
	overflow: auto;
	clear: both;
	padding-top: 5mm;
}

.document-label-order-data .order-data {
	width: 40%;
	float: right;
}

.document-label-order-data .order-data table th {
	padding-right: 2mm;
}

.document-label-order-data .document-label {
	float: left;
}

.document-label-order-data .document-label h1 {
	text-transform: uppercase;
	margin: 0;
}

/* Addresses */
.addresses {
	width: 100%;
	overflow: auto;
	clear: both;
	padding-top: 5mm;
}

.addresses .billing-address {
	float: left;
}

.addresses .billing-address .billing-address-label {
	visibility: hidden;
}

.addresses .shipping-address {
	width: 40%;
	float: right;
}

/* Order details */
.order-details {
	width:100%;
	margin-bottom: 8mm;
	overflow: auto;
	clear: both;
	padding-top: 5mm;
}

.order-details .quantity,
.order-details .price {
	width: 20%;
}

.order-details table {
	width:100%;
}

.order-details tr {
	page-break-inside: always;
	page-break-after: auto;	
}

.order-details th {
	font-weight: bold;
	text-align: left;
}

.order-details td,
.order-details th {
	padding-left: 0;
	padding-top: 0.375em;
	padding-right: 0.375em;
	padding-bottom: 0.375em;
}

.order-details thead th {
	color: grey;
	background-color: white;
	border-top: 0;
	border-bottom: 1px solid lightgray;
}

/* Order details ~ Product bundles compatibility */
.order-details tr.bundled-item td.product {
	padding-left: 5mm;
}

.order-details tr.product-bundle td,
.order-details tr.bundled-item td {
	border: 0;
}

.order-details tr.bundled-item.hidden {
	display: none;
}

/* Notes & Totals */
.notes-totals {
	width: 100%;
	overflow: auto;
}

.notes-totals .notes {
	width: 50%;
	padding: 3mm;
	border: 1px solid lightgray;
	float: left;
}

.notes-totals .notes .customer-notes {
	margin-top: 5mm;
}

.notes-totals .totals {
	width: 40%;
	float: right;
}

.notes-totals .totals table {
	width: 100%;
}

.notes-totals .totals table th,
.notes-totals .totals table td {
	padding-left: 0;
	padding-top: 0.375em;
	padding-right: 0.375em;
	padding-bottom: 0.375em;
	border: 0;
}

.notes-totals .totals table th {
	color: grey;
}

.notes-totals .totals table th.description,
.notes-totals .totals table td.price {
	width: 50%;
}

.notes-totals .totals table tr.order_total td,
.notes-totals .totals table tr.order_total th {
	border-top: 1px solid lightgray;
	font-weight: bold;
	color: black;
	padding-top: 2mm;
}

.notes-totals .totals table tr.payment_method {
	display: none;
}

/* Footer Imprint */
.footer {
	position: absolute;
	bottom: 0;
	left: 2cm;
	right: 2cm;
	height: 2cm; /* if you change the footer height, don't forget to change the bottom (=negative height) and the @page margin-bottom as well! */
	text-align: center;
	border-top: 1px solid lightgray;
	margin-bottom: 0;
	padding-top: 2mm;
}

/* Fixes floats clearance */
.bottom-spacer {
	clear: both;
}

/* item-meta formatting for WC3.0+ */
.wc-item-meta, ul.meta {
	margin: 4px 0;
	font-size: 7pt;
	line-height: 7pt;
}
.wc-item-meta p, ul.meta p {
	display: inline;
}
.wc-item-meta li, ul.meta li {
	margin: 0;
	margin-left: 5px;
}

/* Page numbers */
.pagenum:before {
	content: counter(page);
}

.pagenum,.pagecount {
	font-family: sans-serif;
}