.wcpdf_debug_settings_sections,
#debug-tools {
	width: calc(100% - 4em);
	max-width: 50vw;
}

#debug-tools {
	width: 100%;
	margin-top: 2em;
}

#debug-tools .wrapper {
	width: auto;
	border: 1px solid #ccc;
}

#debug-tools .wrapper .tool {
	padding: 20px;
}

#debug-tools .wrapper .tool:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

#debug-tools .wrapper .tool h4 {
	margin: 0;
}

#debug-tools .wrapper .tool input[type=file] {
	font-size: 14px;
	line-height: 2;
	color: #2c3338;
	border: 1px solid #8c8f94;
	box-shadow: none;
	border-radius: 3px;
	padding: 0 24px 0 8px;
	min-height: 30px;
	max-width: 25rem;
}

#debug-tools #danger_zone {
	margin-top: 20px;
	background-color: #fcf9e8;
}

#debug-tools #danger_zone .notice {
	margin: 0;
}

#debug-tools .add-info {
	margin-left: 6px;
}

#document_custom_redirect_page,
#document_custom_redirect_page + .description {
	display: none;
}
