/* Locked input */
.wpo-is-locked {
	opacity: 0.75;
	cursor: not-allowed;
}

/* Make the entire form-row look disabled */
.form-row.wpo-ips-locked-wrap {
	opacity: 0.75;
}

/* Slightly grey background for inputs when locked */
.form-row.wpo-ips-locked-wrap input,
.form-row.wpo-ips-locked-wrap select,
.form-row.wpo-ips-locked-wrap textarea {
	background-color: rgba(0, 0, 0, 0.04) !important;
}

/* Prevent text selection when locked */
.form-row.wpo-ips-locked-wrap input {
	user-select: none;
}

/* Override link */
.wpo-ips-override {
	display: block;
	margin-top: 6px;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
	color: inherit;
}

.wpo-ips-override:hover {
	text-decoration: none;
}
