span.wpo-warning {
	display: inline-block;
	border: 1px solid red;
	border-left: 4px solid red;
	padding: 5px 15px;
	background-color: white;
}
.wcpdf-extensions-ad {
	position: relative;
	min-height: 90px;
	border: 1px solid #3D5C99;
	background-color: #EBF5FF;	
	border-radius: 5px;
	padding: 15px;
	padding-left: 100px;
	margin-top: 15px;
}

img.wpo-helper {
	position: absolute;
	bottom: 0px;
	left: 3px;
}

.wcpdf-extensions-ad h3 {
	margin: 0;
}

.wcpdf-extensions-ad ul {
	margin: 0;
	margin-left: 1.5em;
}

.extensions li {
	margin: 0;
}

.extensions li ul {
	list-style-type: square;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.extensions > li:before { 
	content: "";
	border-color: transparent transparent transparent #111;
	border-style: solid;
	border-width: 0.35em 0.35em 0.35em 0.45em;
	display: block;
	height: 0;
	width: 0;
	left: -1em;
	top: 0.9em;
	position: relative;
}

.extensions li:not(.expanded) {
	cursor:pointer;
}

.extensions .expanded:before {
	border-color: #111 transparent transparent transparent;
	left: -1.17em;
	border-width: 0.45em 0.45em 0.35em 0.35em !important;
}

.extensions .more {
	padding: 10px;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.extensions table td {
	vertical-align: top;
}

.dropbox-logo {
	margin-bottom: -10px;
	margin-right: 10px;
}
.cloud-logo {
	margin-bottom: -10px;
	margin-top: -5px;
	margin-right: 10px;
}

#img-header_logo {
	max-height: 200px;
	width: auto;
}

.multiple-text-input label {
    min-width: 120px;
    display: inline-block;
}

table.wcpdf_documents_settings_list {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: white;
	border-top: 2px solid black;
}
table.wcpdf_documents_settings_list tr.odd {
	background-color: #EBF5FF;
}

table.wcpdf_documents_settings_list td {
	padding: 5px;
}

table.wcpdf_documents_settings_list a {
	text-decoration: none;
}

table.wcpdf_documents_settings_list td.settings-icon {
	text-align: right;
}

table.wcpdf_documents_settings_list td.title {
	font-weight: bold;
}

.wcpdf_document_settings_sections {
	margin-bottom: 40px;
}

.wcpdf_document_settings_sections > h2 {
	cursor: pointer;
}

.wcpdf_document_settings_sections ul {
	background: white;
	box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 24em;
	display: block;
	height: auto;
	display: none;
}

.wcpdf_document_settings_sections ul.active {
	display: block;
}

.wcpdf_document_settings_sections ul li {
	box-sizing: border-box;
	padding: 1.4em 1.6em;
	margin-bottom: 0;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.1em;
}

.wcpdf_document_settings_sections ul li:hover {
	cursor: pointer;
	background: #51266b;
	color: white;
}

.wcpdf_document_settings_sections ul li:hover a {
	color: white;
}

.wcpdf_document_settings_sections ul li a {
	color: black;
	text-decoration: none;
}

.wcpdf_document_settings_sections .arrow-down {
	font-size: 0.8em;
	color: #999;
	margin-left: 8px;
	font-weight: normal;
}

.wcpdf_document_settings_sections p:hover,
.wcpdf_document_settings_sections p:hover > .arrow-down { 
	color: #222;
}

.edit-next-number {
	opacity:0.5;
}
.edit-next-number:hover {
	opacity:1;
	cursor:pointer;
}

/* Preview */

body.woocommerce_page_wpo_wcpdf_options_page {
	background: #fff;
}

.wrap [class$="icon32"] + h2 {
	font-size: 18px;
	padding: 1em;
}

.nav-tab-wrapper a.nav-tab {
	background: transparent;
	border: none;
	border-bottom: 3px solid transparent;
	padding: 1em 0em;
	margin: 0 1.2em;
	font-size: 15px;
}

.nav-tab-wrapper a.nav-tab.nav-tab-active {
	border-bottom: 3px solid #51266b;
}

.nav-tab-wrapper + :not(#wpo-wcpdf-preview-wrapper) {
	margin-top: 15px !important;
}

#wpo-wcpdf-preview-wrapper {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	padding-bottom: 3em;
}

#wpo-wcpdf-preview-wrapper .sidebar,
#wpo-wcpdf-preview-wrapper .preview-document {
	transition: .3s ease-in-out;
}

#wpo-wcpdf-preview-wrapper .sidebar {
	position: relative;
	float: left;
	height: auto;
	z-index: 999;
	padding: 4em 2em 0 0;
	box-sizing: border-box;
	background: transparent;
}

#wpo-wcpdf-preview-wrapper .sidebar > form {
	background: white;
	overflow: hidden;
	padding: 0 2em;
	box-sizing: border-box;
	width: 100%;
}

#wpo-wcpdf-preview-wrapper .sidebar > form.editor {
	max-width: none;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar > form {
	max-width: none;
	width: 100%;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > th,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > th,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td {
	display: block;
	width: 100%;
	padding: 0;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > th,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > th {
	padding-bottom: 0.6em;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td {
	padding-bottom: 2.4em;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td > p.description,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td p.description {
	font-size: 0.85em;
	padding-top: 0.7em;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td > input[type="text"],
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td > input[type="text"],
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td > select,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td > select,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td > textarea,
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td > textarea {
	max-width: none;
	width: 100%;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tr > td > input[type="text"],
#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td > input[type="text"] {
	width: 100% !important;
}

#wpo-wcpdf-preview-wrapper .sidebar .form-table > tbody > tr > td > input#next_invoice_number {
	width: auto !important;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar .form-table > tbody > tr > th,
#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar .form-table > tbody > tr > td {
	display: table-cell !important;
	padding: 15px 10px 15px 0px !important;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar .form-table > tbody > tr > th,
#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .wcpdf_document_settings_sections ul {
	width: 300px !important;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar .form-table > tbody > tr > td {
	width: 600px !important;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .wcpdf-attachment-settings-hint {
	width: 880px !important;
}

/* WPML */

#wpo-wcpdf-settings .form-table .ui-tabs-nav {
	padding-left: 0!important;
	margin-left: 0!important;
}

#wpo-wcpdf-settings .translations input,
#wpo-wcpdf-settings .translations textarea {
	width: 100%;
}

#wpo-wcpdf-settings .wcpdf-attachment-settings-hint {
	border-left: 4px solid #51266b;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="1"] .sidebar {
	width: 100%;
	padding-right: 0;
	padding-top: 1em;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="2"][data-preview-state="closed"] .sidebar {
	width: 100%;
	border-right: 1px solid #ccc;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="2"][data-preview-state="full"] .sidebar {
	width: 100%;
	margin-left: -100%;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .sidebar {
	width: 100%;
	border-right: 1px solid #ccc;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="sidebar"] .sidebar {
	width: 35%;
	border-right: 1px solid #ccc;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="full"] .sidebar {
	width: 35%;
	margin-left: -35%;
}

#wpo-wcpdf-preview-wrapper .preview-document {
	position: relative;
	float: right;
	overflow: hidden;
	padding: 4em;
	box-sizing: border-box;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="1"] .preview-document {
	display: none;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="2"][data-preview-state="closed"] .preview-document {
	width: 100%;
	margin-right: -100%;
	padding-left: 15%;
	padding-right: 15%;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="2"][data-preview-state="full"] .preview-document {
	width: 99.99%; /* Prevents rendering issues while transitioning */
	padding-left: 15%;
	padding-right: 15%;
	border-left: 1px solid #ccc;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="closed"] .preview-document {
	width: 65%;
	margin-right: -65%;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="sidebar"] .preview-document {
	width: 65%;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="full"] .preview-document {
	width: 100%;
	border-left: 1px solid #ccc;
	padding-left: 15%;
	padding-right: 15%;
}

.preview-document {
	min-height: 400px;
}

.preview-document .preview {
	min-width: 400px;
	max-width: 900px;
	box-sizing: border-box;
	background: white;
	float: none;
	margin: 0 auto;
	box-shadow: 0 0 35px -8px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 0 35px -8px rgba(0, 0, 0, 0.12);
}

.preview-document .preview-data-wrapper {
	position: absolute;
	right: 0;
	top: 0;
}

.preview-document .preview-data-wrapper .preview-order-data,
.preview-document .preview-data-wrapper .preview-document-type {
	float: right;
}

.preview-document .preview-data-wrapper .preview-document-type {
	margin-right: 30px;
}

.preview-document .preview-data-wrapper .preview-document-type ul > li > a {
	text-decoration: none;
	color: initial;
}

.preview-document .preview-data-wrapper .preview-document-type ul > li:hover a,
.preview-document .preview-data-wrapper .preview-document-type ul > li > a:hover {
	color: white !important;
}

.preview-document .preview-data p {
	padding:  1.4em 0;
	margin:  0;
	color: #666;
	text-align: right;
	cursor: pointer;
	font-weight: lighter;
	float: right;
}

.preview-document .preview-data p.order-number,
.preview-document .preview-data p.order-search {
	display: none;
}

.preview-document .preview-data input {
	float: right;
	margin:  1em 0 0 1em;
	padding: 0.1em;
	width: 20ch;
	margin-right: -25ch;
	display: none;
}

.preview-document .preview-data input.active {
	margin-right: 0;
	display: inline-block;
}

.preview-document .preview-data ul {
	position: absolute;
	right: 0;
	top: 4em;
	background: white;
	box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 24em;
	display: block;
	height: 0;
	overflow: hidden;
}

.preview-document .preview-data ul.active {
	height: auto;
}

.preview-document .preview-data ul li {
	box-sizing: border-box;
	padding: 1.4em 1.6em;
	margin-bottom: 0;
	border-bottom: 1px solid #eaeaea;
	font-size: 1.1em;
}

.preview-document .preview-data ul li:hover {
	cursor: pointer;
	background: #51266b;
	color: white;
}

.preview-document .preview-data .arrow-down {
	font-size: 0.8em;
	color: #999;
	margin-left: 8px;
}

.preview-document .preview-data p:hover,
.preview-document .preview-data p:hover > .arrow-down { 
	color: #222;
}

.preview-document .preview-data #preview-order-search-results {
	display: none;
	clear: both;
	width: 300px;
	float: right;
	box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 25px -10px rgba(0,0,0,0.2);
	border-radius: 6px;
	padding: 20px 0;
	margin-top: -4px;
	background-color: white;
}

.preview-document .preview-data #preview-order-search-results a {
	display: block;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
	color: #000;
	padding: 10px;
	margin: 0 20px;
	text-decoration: none;
	cursor: pointer;
}

.preview-document .preview-data #preview-order-search-results a:last-child {
	border-bottom: 1px solid #999;
}

.preview-document .preview-data #preview-order-search-results a:hover {
	background-color: #51266b;
	color: white;
}

.preview-document .preview-data #preview-order-search-results .order-number {
	font-weight: bold;
}

.preview-document .preview-data #preview-order-search-results .date,
.preview-document .preview-data #preview-order-search-results .total {
	margin-top: 6px;
	display: inline-block;
}

.preview-document .preview-data #preview-order-search-results .total {
	float: right;
}

.preview-document .preview-data #preview-order-search-results .error {
	margin: 0 20px;
}

.preview-document .preview-order-search-wrapper {
	position: relative;
	float: right;
}

.preview-document .preview-order-search-wrapper img.preview-order-search-clear {
	position: absolute;
	width: 30px;
	height: 16px;
	top: 22px;
	right: 6px;
	display: none;
	cursor: pointer;
}

.slider {
	box-sizing: border-box;
	position: absolute;
	top: 2.4em;
	color: #999;
	font-weight: bold;
	cursor: pointer;
	font-size: 0.7em;
	line-height: 1em;
}

.slide-left {
	right: 10px;
}

.slide-right {
	left: 10px;
}

.slider:hover {
	color: #222;
}

.slide-left:after {
	content: 'Preview';
	position: absolute;
	right: 2em;
	font-size: 1.4em;
	display: none;
}

.slide-right:after {
	content: 'Settings';
	position: absolute;
	left: 2em;
	font-size: 1.4em;
	display: none;
}

#wpo-wcpdf-preview-wrapper[data-preview-states="1"] .slider {
	display: none;
}

#wpo-wcpdf-preview-wrapper[data-preview-state="full"] .slide-right:after {
	display: inline-block;
}

#wpo-wcpdf-preview-wrapper[data-preview-state="closed"] .slide-left:after {
	display: inline-block;
}