name: PHP Lint

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '**.php'
  push:
    branches:
      - master
    paths:
      - '**.php'

jobs:
  lint:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: ['ubuntu-20.04']
        php-versions: ['7.1', '7.2', '7.3', '7.4', '8.0']
   
    steps:
      - name: Checkout Git repository
        uses: actions/checkout@v2

      - name: Setup PHP ${{ matrix.php-versions }}
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
          tools: cs2pr

      - name: Run PHP Parallel Lint on PHP ${{ matrix.php-versions }}
        run: |
            curl -o parallel-lint.phar -L -C - https://github.com/php-parallel-lint/PHP-Parallel-Lint/releases/latest/download/parallel-lint.phar
            php parallel-lint.phar . --exclude vendor --checkstyle --show-deprecated | cs2pr
